* {
    font-family: 'poppins';
}

body {
    background-color: rgb(181, 210, 243);
    font-family: 'poppins';
}

.center {
    color: white;
    text-align: center;
    justify-content: center;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 50px;
    margin:auto
}

.controls, .startBtn-Btn, .nextBtn-Btn {
    align-items: center;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    margin: auto;
    width: fit-content;
}

.btnGrid {
    display: grid;
    grid-template-columns: repeat(1,auto);
    gap: 10px;
    border-radius: 10px; 
}


.btn {
    width: 50%;
    margin: auto;
    background-color: rgb(88, 88, 182);
    border: 5px;
    border-radius: 5px;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.btn.correct {
    background-color: rgb(176, 236, 176);
    color: black;

}

.btn.wrong {
    background-color: rgb(243, 114, 114);
    color: black;

}

.hide {
    display: none;
}